#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  text-align: center;
}

.intro-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #6c9a2b;
}

.intro-description {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.emoji {
  display: inline-block;
  animation: snakeMove 2s infinite alternate;
}

@keyframes snakeMove {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.highlight {
  display: inline-block;
  animation: highlightAnimation 6s infinite;
}

@keyframes highlightAnimation {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.service {
  border: 1px solid #ccc;
  padding: 20px;
}

.service-title {
  align-items: left;
}

/* .list-item {
  list-style-type: none;
  margin-left: -15px;
  padding-left: 0;
  text-indent: -1em;
  color: #6c9a2b;
} */

.service-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.cta-button {
  background-color: #6c9a2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #8cc63e;
}

.highlighted-text {
  font-size: 14px;
  color:#6c9a2b;
}

.read-the-docs {
  color: #ebbfbf;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: #addcad;
}

.column {
  padding: 20px;
  border: 1px solid #21be24a5;
  border-radius: 10px;
  background-color: #e1f0dd;
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: #d7c55b;
}

.newsletter-form {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .slogan-prompt {
    text-align: left;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    color: #addcad;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}